<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="../bootstrap.min.css" rel="stylesheet"/>
    <link href="../style.css" rel="stylesheet">
    <title>Free Bootstrap Tutorial</title>
</head>
<body>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                <h1>My Heading <span class="badge bg-success">Test</span></h1>
                <button class="btn btn-primary">
                    Click <span class="badge bg-info">3</span>
                </button>
                <br/>
                <br/>
                <button class="btn btn-primary position-relative">
                    Inbox <span class="badge bg-danger position-absolute top-0 start-100 translate-middle rounded-pill">+99</span>
                </button>
                <br/>
                <br/>
                <button class="btn btn-primary position-relative">
                    Inbox <span class="badge bg-danger position-absolute top-0 start-100 translate-middle rounded-circle border border-light">&nbsp;</span>
                </button>
            </div>
        </div>
    </div>

<!-- Bootstrap JavaScript -->
<script src="../bootstrap.bundle.min.js"></script>
</body>
</html>