<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="../bootstrap.min.css" rel="stylesheet"/>
    <link href="../style.css" rel="stylesheet">
    <title>Free Bootstrap Tutorial</title>
</head>
<body>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                <br/>
                <button type="button" class="btn btn-primary">Primary</button>
                <button type="button" class="btn btn-secondary">Secondary</button>
                <button type="button" class="btn btn-success">Success</button>
                <button type="button" class="btn btn-danger">Danger</button>
                <button type="button" class="btn btn-warning">Warning</button>
                <button type="button" class="btn btn-info">Info</button>
                <button type="button" class="btn btn-light">Light</button>
                <button type="button" class="btn btn-dark">Dark</button>
                <button type="button" class="btn btn-link">Link</button>

                <hr/>
                <button type="button" class="btn btn-outline-primary">Primary</button>
                <button type="button" class="btn btn-outline-secondary">Secondary</button>
                <button type="button" class="btn btn-outline-success">Success</button>
                <button type="button" class="btn btn-outline-danger">Danger</button>
                <button type="button" class="btn btn-outline-warning">Warning</button>
                <button type="button" class="btn btn-outline-info">Info</button>
                <button type="button" class="btn btn-outline-light">Light</button>
                <button type="button" class="btn btn-outline-dark">Dark</button>
                <button type="button" class="btn btn-link">Link</button>

                <hr/>
                <a href="#" class="btn btn-primary">My Link</a>
                <button type="submit" class="btn btn-success">Submit</button>
                <input type="submit" class="btn btn-success">
                <input type="reset" class="btn btn-success">
                <input type="button" class="btn btn-success" value="Button">

                <hr/>
                <button type="button" class="btn btn-outline-primary btn-lg">Primary</button>
                <button type="button" class="btn btn-outline-secondary">Secondary</button>
                <button type="button" class="btn btn-outline-success btn-sm">Success</button>
                <button type="button" class="btn btn-primary btn-lg">Primary</button>
                <button type="button" class="btn btn-secondary">Secondary</button>
                <button type="button" class="btn btn-success btn-sm">Success</button>

                <hr/>
                <button type="button" class="btn btn-danger" disabled>Danger</button>
                <button type="button" class="btn btn-warning" disabled>Warning</button>
                <a href="#" class="btn btn-info disabled" aria-disabled="true">Disabled Link</a>

                <hr/>
                <div class="d-grid">
                    <button class="btn btn-primary">Block Button</button>
                </div>
            </div>
        </div>
    </div>

<!-- Bootstrap JavaScript -->
<script src="../bootstrap.bundle.min.js"></script>
</body>
</html>