<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="../bootstrap.min.css" rel="stylesheet"/>
    <link href="../style.css" rel="stylesheet">
    <title>Free Bootstrap Tutorial</title>
</head>
<body>

    <br/>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-3">
                <div class="card">
                    <div class="card-header">Main Card</div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle text-muted mb-3">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
<!--                        <a href="#" class="btn btn-primary">Go somewhere</a>-->
                        <a href="#" class="card-link">Link 1</a>
                        <a href="#" class="card-link">Link 2</a>
                    </div>
                    <div class="card-footer">Footer</div>
                </div>
                <br/>
                <div class="card">
                    <div class="card-body">
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <img src="../img/bootstrap.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Item 1</li>
                        <li class="list-group-item">Item 2</li>
                    </ul>
                </div>
                <br/>

                <div class="card text-center">
                    <div class="card-body">
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <br/>

                <div class="card text-end">
                    <div class="card-body">
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <img src="../img/bootstrap.png" alt="..." class="card-img"/>
                    <div class="card-img-overlay">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card bg-danger text-white">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card bg-success text-white">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card bg-primary text-white">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row justify-content-center">
            <div class="col-8">
                <div class="card-group">
                    <div class="card">
                        <img src="../img/bootstrap.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                        <div class="card-footer"><small class="text-muted">Last updated 3 mins ago</small></div>
                    </div>
                    <div class="card">
                        <img src="../img/bootstrap.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                        </div>
                        <div class="card-footer"><small class="text-muted">Last updated 3 mins ago</small></div>
                    </div>
                    <div class="card">
                        <img src="../img/bootstrap.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                        </div>
                        <div class="card-footer"><small class="text-muted">Last updated 3 mins ago</small></div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <br/>
        <br/>
    </div>

<!-- Bootstrap JavaScript -->
<script src="../bootstrap.bundle.min.js"></script>
</body>
</html>