<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="../bootstrap.min.css" rel="stylesheet"/>
    <link href="../style.css" rel="stylesheet">
    <title>Free Bootstrap Tutorial</title>
</head>
<body>
    <br/>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <ul class="list-group">
                    <li class="list-group-item active">An item</li>
                    <li class="list-group-item disabled">A second item</li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">A third item
                        <span class="badge bg-danger rounded-pill">10</span>
                    </li>
                    <li class="list-group-item">A fourth item</li>
                    <li class="list-group-item">And a fifth one</li>
                </ul>
                <hr>
                <div class="list-group">
                    <a class="list-group-item" href="#">Link #1</a>
                    <a class="list-group-item" href="#">Link #2</a>
                    <a class="list-group-item active" href="#">Link #3</a>
                </div>
                <hr>
                <div class="list-group list-group-flush">
                    <button class="list-group-item list-group-item-action">button #1</button>
                    <button class="list-group-item list-group-item-action">button #2</button>
                    <button class="list-group-item list-group-item-action">button #3</button>
                </div>
            </div>
            <div class="col-4">
                <ol class="list-group list-group-numbered">
                    <li class="list-group-item active">An item</li>
                    <li class="list-group-item disabled">A second item</li>
                    <li class="list-group-item">A third item</li>
                    <li class="list-group-item">A fourth item</li>
                    <li class="list-group-item">And a fifth one</li>
                </ol>
                <hr>
                <ol class="list-group list-group-numbered list-group-horizontal">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item disabled">A second item</li>
                    <li class="list-group-item">A third item</li>
                </ol>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="list-group list-group-horizontal-lg">
                    <a class="list-group-item" href="#">Link #1</a>
                    <a class="list-group-item" href="#">Link #2</a>
                    <a class="list-group-item" href="#">Link #3</a>
                    <a class="list-group-item" href="#">Link #4</a>
                    <a class="list-group-item list-group-item-info list-group-item-action" href="#">Link #5</a>
                    <a class="list-group-item" href="#">Link #6</a>
                    <a class="list-group-item" href="#">Link #7</a>
                    <a class="list-group-item" href="#">Link #8</a>
                    <a class="list-group-item" href="#">Link #9</a>
                    <a class="list-group-item list-group-item-warning list-group-item-action" href="#">Link #10</a>
                    <a class="list-group-item" href="#">Link #11</a>
                    <a class="list-group-item" href="#">Link #12</a>
                    <a class="list-group-item" href="#">Link #13</a>
                    <a class="list-group-item" href="#">Link #14</a>
                </div>
            </div>
        </div>
    </div>

<!-- Bootstrap JavaScript -->
<script src="../bootstrap.bundle.min.js"></script>
</body>
</html>