<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="../bootstrap.min.css" rel="stylesheet"/>
    <link href="../style.css" rel="stylesheet">
    <title>Free Bootstrap Tutorial</title>
    <style>
        body {
            background: #1e2125;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="../img/bootstrap-logo.svg" width="30px"> My Logo
            </a>
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#myNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="myNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="text" placeholder="Search"/>
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <br />
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="../img/bootstrap-logo.svg" width="30px"> My Logo
            </a>
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#myNav2">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="myNav2">
                <ul class="navbar-nav navbar-nav-scroll me-auto" style="--bs-scroll-height: 100px;">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled2</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

<!-- Bootstrap JavaScript -->
<script src="../bootstrap.bundle.min.js"></script>
</body>
</html>