<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="../bootstrap.min.css" rel="stylesheet"/>
    <link href="../style.css" rel="stylesheet">

    <title>Free Bootstrap Tutorial</title>
</head>
<body>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">

                <ul class="nav flex-lg-row flex-md-row flex-sm-column flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="">Active</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="">Disabled</a>
                    </li>
                </ul>

                <hr>

                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="">Active</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="">Disabled</a>
                    </li>
                </ul>

                <hr>

                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link" href="">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="">Active</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="">Disabled</a>
                    </li>
                </ul>

                <hr>

                <ul class="nav nav-pills nav-fill">
                    <li class="nav-item">
                        <a class="nav-link" href="">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="">Active</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="">Disabled</a>
                    </li>
                </ul>

                <hr>

                <h2>JavaScript</h2>

                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#home">Home</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile">Profile</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#contact">Contact</button>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="home" class="tab-pane fade show active">
                        Home content
                    </div>
                    <div id="profile" class="tab-pane fade">
                        Profile content
                    </div>
                    <div id="contact" class="tab-pane fade">
                        Contact content
                    </div>
                </div>

            </div>
        </div>
    </div>

<!-- Bootstrap JavaScript -->
<script src="../bootstrap.bundle.min.js"></script>
</body>
</html>