<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="../bootstrap.min.css" rel="stylesheet"/>
    <link href="../style.css" rel="stylesheet">
    <title>Free Bootstrap Tutorial</title>
</head>
<body>

    <br/>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#myOffcanvas">Open Offcanvas</a>

                <br/>
                <br/>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut etiam sit amet nisl purus in. Ante metus dictum at tempor commodo ullamcorper a. Viverra accumsan in nisl nisi scelerisque eu ultrices. Vitae sapien pellentesque habitant morbi tristique. Maecenas accumsan lacus vel facilisis volutpat est velit egestas. Eget nullam non nisi est sit amet facilisis magna etiam. Aliquet porttitor lacus luctus accumsan tortor posuere ac ut consequat. Fermentum iaculis eu non diam. Bibendum enim facilisis gravida neque convallis. Sit amet risus nullam eget felis eget nunc lobortis. Id diam maecenas ultricies mi eget mauris. Mauris augue neque gravida in fermentum et sollicitudin ac orci. Ut faucibus pulvinar elementum integer enim neque volutpat.
                </p>
                <p>
                    Placerat duis ultricies lacus sed turpis. Pellentesque dignissim enim sit amet venenatis urna cursus. Aenean sed adipiscing diam donec adipiscing tristique risus nec. Nunc pulvinar sapien et ligula ullamcorper malesuada proin libero nunc. Tortor dignissim convallis aenean et tortor. Sed elementum tempus egestas sed sed risus pretium quam. Tristique sollicitudin nibh sit amet. Posuere ac ut consequat semper. Mi proin sed libero enim sed faucibus turpis in eu. Duis at consectetur lorem donec. Vitae purus faucibus ornare suspendisse sed nisi. Sit amet purus gravida quis blandit turpis cursus in hac. Et tortor consequat id porta nibh venenatis cras sed felis. Lectus urna duis convallis convallis tellus id interdum. Justo donec enim diam vulputate ut pharetra sit amet.
                </p>
                <p>
                    Consectetur adipiscing elit duis tristique sollicitudin nibh sit. Ultrices in iaculis nunc sed augue lacus viverra. Facilisis volutpat est velit egestas dui id. Curabitur vitae nunc sed velit dignissim sodales. Magna fermentum iaculis eu non diam phasellus. Vitae turpis massa sed elementum tempus egestas sed sed. Congue nisi vitae suscipit tellus mauris. Risus nullam eget felis eget nunc lobortis mattis aliquam faucibus. Velit dignissim sodales ut eu sem integer vitae justo eget. Nullam vehicula ipsum a arcu cursus vitae congue. Felis donec et odio pellentesque. Odio tempor orci dapibus ultrices in iaculis nunc sed augue.
                </p>
                <p>
                    Purus in mollis nunc sed id. Morbi blandit cursus risus at ultrices. Etiam dignissim diam quis enim. Ultricies mi quis hendrerit dolor magna eget est lorem. Aliquam ultrices sagittis orci a scelerisque purus semper. Rutrum tellus pellentesque eu tincidunt tortor aliquam. Placerat orci nulla pellentesque dignissim enim sit. Nibh ipsum consequat nisl vel pretium lectus quam. Egestas egestas fringilla phasellus faucibus scelerisque eleifend donec. Egestas dui id ornare arcu odio ut sem nulla pharetra. Tincidunt arcu non sodales neque sodales ut etiam sit. Natoque penatibus et magnis dis parturient montes nascetur. Enim sed faucibus turpis in eu mi bibendum neque. Et molestie ac feugiat sed lectus vestibulum mattis.
                </p>
                <p>
                    Risus feugiat in ante metus dictum at tempor commodo. Id cursus metus aliquam eleifend mi in nulla posuere. Suspendisse potenti nullam ac tortor. In fermentum posuere urna nec tincidunt praesent semper feugiat. Nulla facilisi cras fermentum odio eu. Vulputate sapien nec sagittis aliquam malesuada bibendum arcu vitae. Lobortis feugiat vivamus at augue eget arcu dictum varius. Posuere lorem ipsum dolor sit amet consectetur adipiscing. Ullamcorper dignissim cras tincidunt lobortis feugiat. Volutpat maecenas volutpat blandit aliquam etiam erat.
                </p>
            </div>
        </div>
    </div>

    <div class="offcanvas offcanvas-start" id="myOffcanvas" data-bs-scroll="true" data-bs-backdrop="false">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div>
                Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
            </div>
            <div class="dropdown mt-3">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
                    Dropdown button
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>
        </div>
    </div>

<!-- Bootstrap JavaScript -->
<script src="../bootstrap.bundle.min.js"></script>
</body>
</html>