<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="../bootstrap.min.css" rel="stylesheet"/>
    <link href="../style.css" rel="stylesheet">
    <title>Free Bootstrap Tutorial</title>
</head>
<body>
    <br/>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                <div class="row">
                    <div class="col-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title placeholder-wave">
                                    <span class="placeholder col-6"></span>
                                </h5>
                                <p class="card-text placeholder-wave">
                                    <span class="placeholder col-4"></span>
                                    <span class="placeholder col-6"></span>
                                    <span class="placeholder col-3"></span>
                                    <span class="placeholder col-8"></span>
                                    <span class="placeholder col-4"></span>
                                    <span class="placeholder col-8"></span>
                                </p>
                                <a href="#" class="btn btn-primary placeholder col-6 disabled"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title placeholder-wave">
                                    <span class="placeholder col-6"></span>
                                </h5>
                                <p class="card-text placeholder-wave">
                                    <span class="placeholder col-4"></span>
                                    <span class="placeholder col-6"></span>
                                    <span class="placeholder col-3"></span>
                                    <span class="placeholder col-8"></span>
                                    <span class="placeholder col-4"></span>
                                    <span class="placeholder col-8"></span>
                                </p>
                                <a href="#" class="btn btn-primary placeholder col-6 disabled"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Bootstrap JavaScript -->
<script src="../bootstrap.bundle.min.js"></script>
</body>
</html>