<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="../bootstrap.min.css" rel="stylesheet"/>
    <link href="../style.css" rel="stylesheet">
    <title>Free Bootstrap Tutorial</title>
</head>
<body>

    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-8 mt-5">
                <div class="progress">
                    <div class="progress-bar bg-success" style="width: 65%;">65%</div>
                    <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" style="width: 35%;">remained</div>
                </div>
                <div class="progress mt-5" style="height: 1px;">
                    <div class="progress-bar bg-warning" style="width: 80%;"></div>
                </div>
            </div>
        </div>
    </div>

<!-- Bootstrap JavaScript -->
<script src="../bootstrap.bundle.min.js"></script>
</body>
</html>